        <div class="flex-card">
            <h2>ID заявки: {{ order.id }}</h2>
            <p>Имя: {{ order.name }}</p>

            <p>Дата заявки: {{ order.appointment_date }}</p>
            <p class= {% if order.status == "new" %}
            "new"
            {% elif order.status == "confirmed" %}
            "confirmed"
            {% elif order.status == "canceled" %}
            "rejected"
            {% elif order.status == "completed" %}
            "canceled"
            {% endif %}
            >Статус заявки: {{ order.status }}</p>
            <p>Количество услуг: {{ order.services|length }}</p>
            <div class="services">
                {% comment %} цикл для span услуг {% endcomment %}
                {% for service  in order.services.all  %}
                <span class="service">{{ service.name }}</span>
                {% endfor %}
            </div>
        </div>
