<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тестовый шаблон</title>
</head>
<body>
    <h1>Тестовый шаблон для опытов</h1>
    <h2>Комментарии HTML и шаблонизатора</h2>
    {% comment %} Это НЕ будет видно в браузере  {% endcomment %}
    <!-- Это будет видно в браузере -->
    <h2>Переменные шаблонизатора</h2>
        <p>{{ variable_1 }} - переменная Django</p>
    <h3>Список в шаблонизаторе</h3>
        <p> Весь список: {{ test_list }}</p>
        <p> Элемент 0: {{ test_list.0 }}</p>
        <p> Всего элементов в списке: {{ test_list|length }}</p>
    <h3>Словарь в шаблонизаторе</h3>
        <p> Весь словарь: {{ test_dict }}</p>
        <p> Значение по ключу "master": {{ test_dict.master }}</p>
        <p>Попробуем получить длину словаря: {{ test_dict|length }}</p>
    <h3>Объект в шаблонизаторе</h3>
        <p> Весь объект: {{ test_person }}</p>
        <p> Имя: {{ test_person.name }}</p>
        <p> Возраст: {{ test_person.age }}</p>
        <p> Вызов метода: {{ test_person.say_my_name }}</p>
    </body>
</html>